<div class="bottom-menu centered2">
    <span class="column">
        <span class="title">@Resources.MenuFundo.CondoClub</span>
        <a href="#">@Resources.MenuFundo.Equipamentos</a>
        <a href="#">@Resources.MenuFundo.Planos</a>
        <a href="#">@Resources.MenuFundo.Tour</a>
    </span>
    <span class="column">
        <span class="title">@Resources.MenuFundo.QuemSomos</span>
        <a href="#">@Resources.MenuFundo.Blog</a>
        <a href="#">@Resources.MenuFundo.Equipa</a>
        <a href="#">@Resources.MenuFundo.FortalecimentoMarca</a>
        <a href="#">@Resources.MenuFundo.Noticias</a>
        <a href="#">@Resources.MenuFundo.TrabalheConosco</a>
    </span>
    <span class="column">
        <span class="title">@Resources.MenuFundo.Comunidade</span>
        <a href="#">@Resources.MenuFundo.Indicacoes</a>
        <a href="#">@Resources.MenuFundo.Twitter</a>
        <a href="#">@Resources.MenuFundo.Facebook</a>
    </span>
    <span class="column-before-last">
        <span class="title">@Resources.MenuFundo.Atendimento</span>
        <a href="#">@Resources.MenuFundo.Ajuda</a>
        <a href="#">@Resources.MenuFundo.TermosUso</a>
        <a href="#">@Resources.MenuFundo.Copyright</a>
        <a href="#">@Resources.MenuFundo.FaleConosco</a>
    </span>
    <span class="column-last" style="display:none">
        <span class="title-orange bg-icon-internet-25">@Resources.MenuFundo.PortuguesBR</span>
    </span>
    <span class="clear"></span>
</div>