@using CondoClub.Web.Models;
@using CondoClub.Web.Controllers;

@model IEnumerable<Funcionario>

@{ var permissoes = (List<CondoClub.Regras.Enum.Permissao>)ViewData["Permissoes"]; }
@Styles.Render("~/content/datepicker")

<div class="main-container">
    <div class="header">
        <div class="title">
            <h5>@Resources.Menu.Funcionarios</h5>
        </div>
        @if (permissoes.Contains(CondoClub.Regras.Enum.Permissao.Gravar))
        {
            <div class="options">
                <a href="#" class="link-orange" onclick="$('#new').slideToggle(''); return false;" style="">
                    @Resources.Geral.Novo
                </a>
            </div>
        }
        <div class="clear"></div>
    </div>
    <div class="search">
        <input id="txtPesquisar" type="search" placeholder="@Resources.Geral.Pesquisar" />
    </div>
    <div class="separator10"></div>
    <!--novo registo---------------------->
    @if (permissoes.Contains(CondoClub.Regras.Enum.Permissao.Gravar))
    {
        <div id="new" style="display: none;">
            @using (Ajax.BeginForm("Gravar",
                new AjaxOptions
                {
                    UpdateTargetId = "lista",
                    InsertionMode = InsertionMode.InsertBefore,
                    OnSuccess = "AfterSave"
                }))
            {
                Html.RenderPartial("_Detalhe", new Funcionario());
            }
        </div>
    }

    <div id="lista">@{ Html.RenderPartial("_Lista", Model); }</div>

    @using (Ajax.BeginForm("_DetalheEditar", null,
        new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "#" },
        new { id = "editRec" }))
    {
        @Html.Hidden("id")
    }
</div>
@section scripts{
    @Scripts.Render("~/scripts/fileuploader")
    @Scripts.Render("~/scripts/datepicker")

    <script type="text/javascript">
        SetCalendar('cal_', { changeMonth: true, changeYear: true, yearRange: 'c-100:c+0' });
        ResetValidators(); 

        $('.block-list-group .header').live('click', function () {

            var self = $(this);
            $('.block-list-group .content:visible').not(self.next('.content')).hide();
            $('html, body').animate({
                scrollTop: self.offset().top - 10
            }, 300);

            $(this).nextAll('.block-list-group .content').slideToggle();
        });

        function EditRec(id) {
            $('#editRec').attr('data-ajax-update', '#' + id);
            $('#editRec').attr('data-ajax-complete', "ResetValidators(" + id + "); BeforeUpdate(" + id + ");");
            $('#editRec').find('#id').val(id);
            $('#editRec').trigger('submit');
        }

        function AfterSave(data) {
            if (data.indexOf('alert(') == -1) {
                $('#new').slideToggle('', function () {
                    $(".form-2column input:not([type='submit']):not([type='button']):not([type='radio'])", $(this)).val('');
                    $(".form-2column input[type='radio']").first().attr('checked', 'checked');
                    $(".form-2column img", $(this)).attr('src', "Content/images/avatar_300.jpg");
                    $("#lista .block-list-group:first").PulseAnimation();
                    ResetValidators('new'); 
                });
            }
        }

        function AfterUpdate(data, id) {
            if (data.indexOf('alert(') == -1) {
                $("#" + id).PulseAnimation();
            }
        }

        function CloseNewRec() {
            $('#new').slideToggle();
        }

        function AfterDelete(id) {
            $("#" + id).hide('slow', function () { $(this).remove(); });
        }

        $(function () {
            $('#txtPesquisar').keyup(function () {
                var keywords = RemoverAcentos($(this).val().toLowerCase());

                $('#lista .block-list-group .header').each(function () {
                    if (RemoverAcentos($('span', $(this)).text().toLowerCase()).indexOf(keywords) == -1) {
                        $(this).parent().hide();
                    }
                    else {
                        $(this).parent().show();
                    }
                });
            });
        });

        /**** Fotos *****/
        $("#new .file-uploader-container").CustomFileUpload({
            URLUploadFile: "@Url.Action("GravarImagemForm", "Ficheiro")",
            DropZone: $("#new .file-uploader-container"),
            SingleFileUploads: true,
            LimitMultiFileUploads: 1,
            DoneFunction: function(e, data) { UploadFotoDone(e, data, $("#new")); }
        });

        function BeforeUpdate(id){
            SetCalendar('cal_' + id, { changeMonth: true, changeYear: true, yearRange: 'c-100:c+0' });

            $("#" + id + " .file-uploader-container").CustomFileUpload({
                URLUploadFile: "@Url.Action("GravarImagemForm", "Ficheiro")",
                DropZone: $("#" + id + " .file-uploader-container"),
                SingleFileUploads: true,
                LimitMultiFileUploads: 1,
                DoneFunction: function(e, data) { UploadFotoDone(e, data, $("#" + id)); }
            });
        }

        function UploadFotoDone(e, data, container){
            var fotoID = data[0].ID;

            container.find(".photo img").attr("src", "@Url.Action("Avatar", "Ficheiro")/" + fotoID);
            container.find("#FotoID").val(fotoID);
        }
    </script>
}