@using CondoClub.Web.Models;
@using CondoClub.Web.Controllers;

@model UtilizadorPassword

@using (Ajax.BeginForm("GravarDetalhePassword",
    new AjaxOptions
    {
        UpdateTargetId = Model.ID.Value.ToString(),
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "AfterUpdate(data, " + Model.ID.Value + ")"
    }))
{
    <div class="form">
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.ID)
        <div class="form-2column">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.ConfirmarPassword)
            @Html.PasswordFor(m => m.ConfirmarPassword)
        </div>
        <div class="clear"></div>
        <div class="toolbox-no-border">
            @if (Model.Permissoes.Contains(CondoClub.Regras.Enum.Permissao.Gravar))
            {
                <input type="submit" class="orange1-button" value="@Resources.Geral.Gravar" />
            }
            @Ajax.ActionLink(Resources.Geral.Cancelar, "_DetalheVisualizar",
                new { @id = Model.ID },
                new AjaxOptions { HttpMethod = "Get", UpdateTargetId = Model.ID.Value.ToString() },
                new { @class = "orange3-button" }
            )
        </div>
        <div class="clear"></div>
    </div>
}