@using CondoClub.Web.Models;

@model UtilizadorPassword

<div class="main-container">
    <div class="header">
        <div class="title">
            <h5>@Resources.Utilizador.EditarPerfil</h5>
        </div>
        <div class="clear"></div>
    </div>
    <div class="separator10"></div>
    @using (Html.BeginForm("GravarPassword", "Utilizador"))
    {
        <div class="form">
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ID)
            <div class="form-3column">
                @Html.LabelFor(m => m.PasswordActual)
                @Html.PasswordFor(m => m.PasswordActual)
            </div>
            <div class="form-3column">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="form-3column">
                @Html.LabelFor(m => m.ConfirmarPassword)
                @Html.PasswordFor(m => m.ConfirmarPassword)
            </div>
            <div class="clear"></div>
            <div class="toolbox-no-border">
                <input type="submit" class="orange1-button" value="@Resources.Geral.Gravar" />
                @Html.ActionLink(Resources.Geral.Cancelar, "Perfil", new { @redirect = false }, new { @class = "orange3-button" })
            </div>
            <div class="clear"></div>
        </div>
    }
</div>