@using CondoClub.Web.Models;
@using CondoClub.Web.Controllers;

@model Agenda


<div class="header">
    <span class="title">@Model.Designacao</span>
    <span class="subtitle">
        @Html.Raw(CondoClub.Web.Util.ConvertNumberToTel(Model.Telefone))
    </span>
</div>
<div class="content" style="display:none;">
    <div class="form-readonly">
        <div class="form-2column">
            @Html.LabelFor(m => m.Email)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    @Html.Raw(CondoClub.Web.Util.ConvertEmailToMailTo(Model.Email))
                }
                else
                {
                    @Html.DisplayFor(m => m.Email, "CampoVazio")
                }
            </label>
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.URL)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.URL))
                {
                    @Html.Raw(CondoClub.Web.Util.ConvertUrlsToLinks(Model.URL))
                }
                else
                {
                    @Html.DisplayFor(m => m.URL, "CampoVazio")
                }
            </label>
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.Endereco)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.Endereco))
                {
                    @Model.Endereco
                }
                else
                {
                    @Html.DisplayFor(m => m.Endereco, "CampoVazio")
                }
            </label>
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.Localidade)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.Localidade))
                {
                    @Model.Localidade
                }
                else
                {
                    @Html.DisplayFor(m => m.Localidade, "CampoVazio")
                }
            </label>
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.Cidade)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.Cidade))
                {
                    @Model.Cidade
                }
                else
                {
                    @Html.DisplayFor(m => m.Cidade, "CampoVazio")
                }
            </label>
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.Estado)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.Estado))
                {
                    @Model.Estado
                }
                else
                {
                    @Html.DisplayFor(m => m.Estado, "CampoVazio")
                }
            </label>
        </div>
        <div class="form-2column">
            @Html.LabelFor(m => m.CodigoPostal)
            <label class="value">
                @if (!string.IsNullOrEmpty(Model.CodigoPostal))
                {
                    @Model.CodigoPostal
                }
                else
                {
                    @Html.DisplayFor(m => m.CodigoPostal, "CampoVazio")
                }
            </label>
        </div>
    </div>
    @if (Model.ID != null && (
            Model.Permissoes.Contains(CondoClub.Regras.Enum.Permissao.Gravar) ||
            Model.Permissoes.Contains(CondoClub.Regras.Enum.Permissao.Apagar)
        ))
    {
        <div class="toolbox-no-border">
            <input type="button" onclick="EditRec(@Model.ID)" class="orange1-button" value="@Resources.Geral.Editar" />
        </div>
        <div class="clear"></div>
    }
</div>